<html>
<head>
    <title>Welcome to Holistic Wellness</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% block content %}
    <script>
      window.onload = function () {
        
      var chart = new CanvasJS.Chart("chartContainer1", {
        animationEnabled: true,
        
        title:{
          text:"Ideal calories to be consumed"
        },
        axisX:{
          interval: 1
        },
        axisY2:{
          interlacedColor: "rgba(1,77,101,.2)",
          gridColor: "rgba(1,77,101,.1)",
          title: "Calories"
        },
        data: [{
          type: "bar",
          name: "companies",
          axisYType: "secondary",
          color: "#014D65",
          dataPoints: [
            { y: 350, label: "Breakfast" },
            { y: 700, label: "Lunch" },
            { y: 200, label: "Snacks" },
            { y: 500, label: "Dinner" },
          ]
        }]
      });
      var chart2 = new CanvasJS.Chart("chartContainer2", {
        animationEnabled: true,
        
        title:{
          text:"Your average calories consumption"
        },
        axisX:{
          interval: 1
        },
        axisY2:{
          interlacedColor: "rgba(1,77,101,.2)",
          gridColor: "rgba(1,77,101,.1)",
          title: "Calories"
        },
        data: [{
          type: "bar",
          name: "companies",
          axisYType: "secondary",
          color: "#014D65",
          dataPoints: [
            { y:{{ breakfast}}, label: "Breakfast" },
            { y:{{lunch}}, label: "Lunch" },
            { y: {{snacks}}, label: "Snacks" },
            { y: {{dinner}}, label: "Dinner" },
          ]
        }]
      });
      chart.render();
      chart2.render();
      
      }
      </script>



</head>

<h1 class="heading">Holistic Wellness</h1>
    <body> 
        <div class="card text-center">
            <div class="card-header">
            <div class="check">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link" href="/login/homepage">Home page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login/diet">Diet plan</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login/exercise">Exercise plan</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link active">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login/help">More</a>
                  </li>
              </ul>
            </div>
              <p></p>
              <div class="box3">
              <p ><b>Email address: {{ email }}</b></h1>
              <p ><b>Name: {{ name }}</b></h1>
              <p ><b>Your Age: {{ age }}</b></h1>
              <p ><b>Your BMI: {{ bmi }}</b></h1>
              <p ><b>Net calories: {{ calories }}</b></h1>
              
              </div>
              <div class="box3">
                <p ><b>{{ suggestion }}</b></h1> 
            </div>    
  
            <div id="chartContainer1" class="graph" style="height: 370px; width: 40%;"></div>
            <div id="chartContainer2" class="graph" style="height: 370px; width: 40%;"></div>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
            {% endblock %}
            <div class="box3">
              <h1>Breakfast</h1>
              <p ><b>{{ suggestion1 }}</b></h1> 
          </div>    
          <div class="box3">
            <h1>Lunch</h1>
            <p ><b>{{ suggestion2 }}</b></h1> 
        </div>    
        <div class="box3">
          <h1>Dinner</h1>
          <p ><b>{{ suggestion3 }}</b></h1> 
        </div>    
    </body>
</html>