<!DOCTYPE html>
<html lang=en>
    <head>
            <title>Welcome to Holistic Wellness</title>
        <link rel="stylesheet" href="/static/css/style.css" />
 

    </head>
        <img class="health" src="/static/health.jpg"/>
        <h1 class="heading">Holistic Wellness</h1>
        <body background="/static/health-bg.jpg">
        <main>
            <div class="box">
                {% if message %}
                <p class="error">Passwords do not match, please try again! </p>
                <p class="error">
                    Please try again!</p>
                {% endif %}
            <h1>Reset password</h1>
            <p>
            <form action="/update_password" autocomplete="off" method="post">
                <label >Enter your new password:</label>
                <input autocomplete="off" type="text" name="password1" class="input"/>
                <label >Re-nter your new password:</label>
                <input autocomplete="off" type="password" name="password2" class="input"/>
                <p></p>
                <button type="submit" class="login">Update</button>
            </form>
            </p>
            
        </div>
        </main>

    </body>
</html>